body {
    font-family: Arial, sans-serif;
}

.grid {
    position: relative;
    width: 560px;
    height: 300px;
    margin: 20px auto;
    background-color: #f3f3f3;
    border: 2px solid black;
    overflow: hidden;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    bottom: 10px;
}

.userBall {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.blocks {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: green;
}
